html,body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 100px 80%;
    grid-template-rows: 80px 1fr 80px;
    color: white;
    grid-template-areas:
    'header header header'
    'navigation content sidebar'
    'content footer footer';
    background-color: rgb(126, 99, 236);
}
header{
    grid-area: header;
}
nav{
    grid-area: navigation;
}
aside{
    grid-area: content;
}
footer{
    grid-area: footer;
}

