* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 300px;
    width: 300px;

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);

    gap: 10px;

    justify-content: center;
    align-content: center;

    background-color: aqua;
}

.item {
    background-color: red;

    display: grid;
    justify-items: center;
    align-items: center;
}